DATABASE_URL="file:./dev.db"
PORT=4000
TZ=America/Sao_Paulo
FACIAL_THRESHOLD=0.90
DEVICE_TOKEN=local-demo
ENABLE_SHEETS=false
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_SERVICE_ACCOUNT_KEY=
GOOGLE_SHEETS_SPREADSHEET_ID=
GOOGLE_SHEETS_TAB=Registros
PRISMA_CLIENT_ENGINE_TYPE=binary
TURSO_AUTH_TOKEN=
